{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "printWidth": 150,
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
